# OpenRouter API
OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemini-2.5-flash

# Naver Search API
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
